body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(pages/pexels-pixabay-532173.jpg);
    background-repeat: no-repeat ;
    background-size: cover;

}